<div>
	<div class="page-title row">
		<h2 class="col-5">Acerca</h2>
	</div>
	<p>
		DBSoft inicia en el 2018, como una iniciativa de desarrollo profesional y creación de un producto innovador realizado como parte de un proyecto universitario. Una vez que se inicia este proyecto los desarrolladores involucrados se preguntan y porque solamente dejar esto como un proyecto es aquí donde nace la idea de materializar este y los resultados obtenidos son mejor que los esperados. Aunque aun el Proyecto se encuentra en una etapa muy joven se su desarrollo, los implicados esperan obtener grandes frutos a futuro.
	</p>
</div>
