<div class="row">
	<!-- <div class="col-5 col-lg-2">Provincia: </div>  -->
	<div class="col-12 col-lg-6" > <span>{{currency.name}}</span><span></span></div>
</div>
<div class="row">
	<!-- <div class="col-5 col-lg-2">Provincia: </div>  -->
	<div class="col-12 col-lg-6" > <span>{{currency.symbol}}</span><span></span></div>
</div>
<div class="row" *ngIf="islogged">
	<div class="col-12 actions">
		<div class="row">
			<div class="col-3 text-center">
				<button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
			</div>
			<div class="col-6 text-center">
				<button type="button" class="btn btn-danger" (click)="borrar()"><span *ngIf="isDeleting">...</span><span *ngIf="!isDeleting">Eliminar</span></button>
			</div>
		</div>
	</div>	
</div>

